{% load static %}

<!-- Array Footer Section -->
<div class="footer-sm" style="width: 100%;left: 0;right: 0;bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/">

                    {% if content.logo %}
                        <img src="{{ content.logo.url }}" style="height: 25px;" width="auto">
                    {% else %}
                        <img src="{% static 'website/images/logos/logo-hor-1.jpg' %}" style="height: 25px;"
                             width="auto">
                    {% endif %}

                </a>
            </div>
            <div class="col-md-4">
                <h6>&copy; {{ content.name }} 2023 - {% now 'Y' %}
                </h6>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="{% url 'website:blogs' %}">Blogs</a></li>
                    <li><a href="{% url 'website:privacy-policy' %}">Privacy</a></li>
                    <li><a href="{% url 'website:contact-us' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Scroll To Top -->
<div id="back-top" class="bk-top">
    <div class="bk-top-txt">
        <a class="back-to-top js-scroll-trigger" href="#main">top</a>
    </div>
</div>
<!-- Scroll To Top Ends-->