{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>
        {% block title %}
            {{ content.name }} |
            {% block subtitle %}

            {% endblock %}
        {% endblock %}
    </title>
    {% if content.favicon_icon %}
        <link rel="shortcut icon" href="{{ content.favicon_icon.url }}">
    {% else %}
        <link rel="shortcut icon" href="{% static 'website/images/logos/favico.jpg' %}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Write smarter, not harder, with WordCounter">

    {% block seo %}
        <meta name="keywords" content="wordcount, word, count">
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'website/css/animate.css' %}"> <!-- Resource style -->
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/ionicons.min.css' %}"> <!-- Resource style -->
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'website/css/icons.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <style>
        .mark_paragraph p {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: 0.01em;
            color: #818198;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>

    {% block css %}

    {% endblock %}


</head>
<body>
<div class="wrapper">

    {% block header %}
        {% include 'website/include/header.html' %}
    {% endblock %}

    <div id="main" class="main">

        {% block content %}

        {% endblock %}

        {% block footer %}
            {% include 'website/include/footer.html' %}
        {% endblock %}


    </div>
</div>


<!-- Jquery and Js Plugins -->
<script type="text/javascript" src="{% static 'website/js/jquery-2.1.1.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/custom.js' %}"></script>


{% block js_in %}

{% endblock %}

</body>
</html>

{% block js_out %}

{% endblock %}