{% extends 'website/base.html' %}
{% load static %}

{% block subtitle %}
    Blog Description
{% endblock %}

{% block content %}

    <div class="home my-5 border-bottom">
        <div class="container my-5">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="hero-content wow fadeIn">
                        <h1 class="font-weight-bold">Blog Detail</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pricing" class="pricing-section text-center">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12 mark_paragraph mb-4">
                    <div class="card border-0">
                        <div class="card-header p-0 border-0 bg-white">
                            <img src="{% static 'website/images/big.png' %}"
                                 class="img-thumbnail border-0 img-responsive">
                        </div>
                        <div class="card-body text-left p-5">
                            <p class="text-muted">{% lorem 10 p %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pricing" class="pricing-section text-center border-top">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4 mark_paragraph">
                    <div class="card">
                        <div class="card-header p-0 border-0 bg-white">
                            <img src="{% static 'website/images/big.png' %}"
                                 class="img-thumbnail border-0 img-responsive">
                        </div>
                        <div class="card-body text-left">
                            <h3 class="font-weight-bold mb-2">Name of Applicatoin</h3>
                            <p class="text-muted">{% lorem 30 w %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}