{% extends 'website/base.html' %}
{% load static %}

{% block subtitle %}
    Lets Count
{% endblock %}

{% block css %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="home">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="hero-img wow fadeIn">
                        <img class="img-fluid" src="{% static 'website/images/big.png' %}" alt="Home">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="hero-content wow fadeIn">
                        <h1>Word Countly</h1>
                        <p>Write smarter, not harder, with WordCounter</p>
                        <a class="btn-action js-scroll-trigger" href="#main-area">Lets Count</a>
                        <a class="btn-action js-scroll-trigger" style="background-color: #a0add4" href="#">Embed
                            Countly</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-area" class="features wow fadeInDown">
        <div class="container-m">
            <div class="row text-center">
                <div class="col-12">
                    <div class="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="text-muted mb-2">Characters</p>
                                    <h1 class="">00</h1>
                                </div>
                                <div class="col">
                                    <p class="text-muted mb-2">Words</p>
                                    <h3>00</h3>
                                </div>
                                <div class="col">
                                    <p class="text-muted mb-2">Sentences</p>
                                    <h3>00</h3>
                                </div>
                                <div class="col">
                                    <p class="text-muted mb-2">Paragraphs</p>
                                    <h3>00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="editor-container" style="height: 400px"></div>
                </div>
                <div class="col-12">
                    <div class="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <p class="text-muted mb-2">Read Time: <b class="font-weight-bold">00 mins</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-4">
                    <img src="{% static 'website/ads/bgad.png' %}" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="{% static 'website/ads/ad.png' %}" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="{% static 'website/ads/ad.png' %}" class="img-fluid">
                </div>

            </div>
        </div>
    </div>

    <div class="yd-stats wow fadeIn">
        <div class="container-s">
            <div class="row text-center">
                <div class="col-sm-12">
                    <div class="intro">
                        <h2>Boost your revenue & cut work hours</h2>
                        <p>Organized workflow and predictive patterns to boost your revenue.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="counter-up">
                        <h3><span class="counter">47</span>%</h3>
                        <div class="counter-text">
                            <h2>Lesser backlogs</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="counter-up">
                        <h3><span class="counter">33</span>%</h3>
                        <div class="counter-text">
                            <h2>Higher Profits</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="counter-up">
                        <h3><span class="counter">33</span>%</h3>
                        <div class="counter-text">
                            <h2>Higher Profits</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="yd-link">
                        <a href="#">Know more about the template</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ar-ft-single wow fadeIn">
        <div class="container-m">
            <div class="ar-feature">
                <div class="ar-list">
                    <ul>
                        <li>
                            <div class="ar-icon">
                                <img src="{% static 'website/icons/f1.png' %}" width="30" alt="Icon">
                            </div>
                            <div class="ar-text">
                                <h3>Client Support</h3>
                                <p>Team hangouts and instant text messaging right from the dashboard.</p>
                            </div>
                        </li>
                        <li>
                            <div class="ar-icon">
                                <img src="{% static 'website/icons/f4.png' %}" width="30" alt="Icon">
                            </div>
                            <div class="ar-text">
                                <h3>Secure Servers</h3>
                                <p>Team hangouts and instant text messaging right from the dashboard.</p>
                            </div>
                        </li>
                        <li>
                            <div class="ar-icon">
                                <img src="{% static 'website/icons/f11.png' %}" width="30" alt="Icon">
                            </div>
                            <div class="ar-text">
                                <h3>Product Feedback</h3>
                                <p>Team hangouts and instant text messaging right from the dashboard.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ar-image">
                    <img class="ar-img img-fluid" src="{% static 'website/images/feature-2.png' %}"
                         alt="Hero Image">
                </div>
            </div>
        </div>
    </div>

    <div id="reviews" class="yd-reviews"><!-- Array Reviews -->
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12 col-lg-8 offset-lg-2">
                    <div class="intro wow fadeIn" data-wow-delay="0.1s">
                        <h1>Customers say nice things</h1>
                        <p>We have very fair pricing policy that would benefit you and us at the same time.
                            Get the free plan &amp; if you need more - pay.
                        </p>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-8 offset-lg-2 text-center">
                    <div class="review-cards owl-carousel owl-theme wow fadeInDown" data-wow-delay="0.2s">
                        <div class="card-single">
                            <div class="review-text">
                                <h1>"We have very fair pricing policy that would benefit you and us at the same
                                    time.
                                    Choose what price you're willing to pay. Get the free plan & if you need more -
                                    pay."
                                </h1>
                            </div>
                            <div class="review-attribution">
                                <div class="review-img">
                                    <img class="img-fluid rounded-circle"
                                         src="{% static 'website/icons/review-1.png' %}" alt="Review">
                                </div>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-ios-star-half"></i>
                                <h2> Albert Rossi</h2>
                                <h6>Stack Developer</h6>
                                <a href="#">Dropboxes Inc</a>
                            </div>
                        </div>
                        <div class="card-single">
                            <div class="review-text">
                                <h1>"We have very fair pricing policy that would benefit you and us at the same
                                    time.
                                    Choose what price you're willing to pay. Get the free plan & if you need more -
                                    pay."
                                </h1>
                            </div>
                            <div class="review-attribution">
                                <div class="review-img">
                                    <img class="img-fluid rounded-circle"
                                         src="{% static 'website/icons/review-2.png' %}" alt="Review">
                                </div>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-ios-star-half"></i>
                                <h2> Melissa Vanbergh</h2>
                                <h6>Vice President</h6>
                                <a href="#">Vestor Corp</a>
                            </div>
                        </div>
                        <div class="card-single">
                            <div class="review-text">
                                <h1>"We have very fair pricing policy that would benefit you and us at the same
                                    time.
                                    Choose what price you're willing to pay. Get the free plan & if you need more -
                                    pay."
                                </h1>
                            </div>
                            <div class="review-attribution">
                                <div class="review-img">
                                    <img class="img-fluid rounded-circle"
                                         src="{% static 'website/icons/review-3.png' %}" alt="Review">
                                </div>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <h2> Joshua Peterson</h2>
                                <h6>Product Developer</h6>
                                <a href="#">Betabet Inc</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pricing" class="pricing-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pricing-intro wow fadeInDown">
                        <h1>Pricing Plans.</h1>
                        <p>
                            Our plans are designed to meet the requirements of both beginners <br class="hidden-xs">
                            and players.
                            Get the right plan that suits you.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 offset-lg-2 col-md-6">
                            <div class="table-left wow fadeInDown">
                                <div class="pricing-details">
                                    <h2>Freemium</h2>
                                    <img src="{% static 'website/icons/free.png' %}" width="60" alt="Icon">

                                    <span>$0.00</span>
                                    <ul>
                                        <li>First basic feature</li>
                                        <li>Second feature goes here</li>
                                        <li>Any other third feature</li>
                                    </ul>
                                    <button class="btn-action">Get Plan</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="table-right wow fadeInDown">
                                <div class="pricing-details">
                                    <h2>Beginner</h2>
                                    <img src="{% static 'website/icons/paid.png' %}" width="60" alt="Icon">
                                    <span>$24.99</span>
                                    <ul>
                                        <li>First premium feature</li>
                                        <li>Second premium one goes here</li>
                                        <li>Third premium feature here</li>
                                    </ul>
                                    <button class="btn-action">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# BLOGS #}
    <div id="pricing" class="pricing-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header p-0 border-0 bg-white">
                            <img src="{% static 'website/images/big.png' %}"
                                 class="img-thumbnail border-0 img-responsive">
                        </div>
                        <div class="card-body text-left">
                            <h3 class="font-weight-bold mb-2">Name of Applicatoin</h3>
                            <p class="text-muted">{% lorem 30 w %}</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <a class="btn-action js-scroll-trigger" href="#main-area">Lets Count</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="signup" class="cta-sm">
        <div class="container-m text-center">
            <div class="cta-content">
                <h4>GRAB ARRAY FOR BEST PRICE TODAY</h4>
                <h1>Start now and turn your online business into a profitable route.</h1>
                <div class="form wow fadeIn" data-wow-delay="0.2s">
                    <form id="chimp-form" class="subscribe-form wow zoomIn" action="assets/php/subscribe.php"
                          method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded"
                          autocomplete="off" novalidate>
                        <input class="mail" id="chimp-email" type="email" name="email"
                               placeholder="Enter your email address" autocomplete="off">
                        <input class="submit-button" type="submit" value="Sign up now">
                    </form>
                    <div id="response"></div>
                </div>
                <div class="form-note">
                    <p>14-day free trial and no credit card required.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_in %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}

{% block js_out %}
    <script>

        var quill = new Quill('#editor-container', {
            placeholder: 'Write/paste your content here.',
            toolbar: '#toolbar-container',
            theme: 'snow',
        });

        quill.on('text-change', function () {
            let text = quill.getText();
        });

    </script>
{% endblock %}