{% extends 'website/base.html' %}
{% load static %}

{% block subtitle %}
    Privacy Policy
{% endblock %}

{% block content %}

    <div class="home my-5 border-bottom">
        <div class="container pb-5">
            <div class="row text-center">
                <div class="col-md-12 mt-5">
                    <div class="hero-content wow fadeIn">
                        <h1>Privacy Policy</h1>
                        <p>{% lorem 20 w %}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="main-area" class="pb-5 mark_paragraph">
        <div class="container-m">
            <iframe src="/embed-code/" width="800" height="800"></iframe>
            <div class="row">
                <div class="col-12">

                    {% lorem 10 p %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}